@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TamagotchiHotel</h1>
    <p class="lead">Elke dag is het mogelijk voor een Tamagotchi om een kamer te boeken voor één nacht. </p>
    <p><a href="/Home/Booking" class="btn btn-primary btn-lg">Boek kamers</a><a href="/Home/PerformNight" class="btn btn-primary btn-lg">Start de nacht!</a></p>
</div>